__pycache__/
*.pyc
*.pkl
venv/
.env
.DS_Store
.ipynb_checkpoints/
/data/raw/*
/data/processed/*
/models/*
notebooks/test_*.ipynb
notebooks/debug_*.ipynb
notebooks/tmp_*.ipynb
notebooks/*scratch*.ipynb
notebooks/*experiment*.ipynb
artifacts/

